@use '../../style/variabels.scss' as *;

.shoppingCart {
    margin-top: 40px;

    &__title {
        color: $black;
        font-size: 60px;
        font-weight: 900;
        line-height: 72px;
    }

    &__wrapper {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    &__item {
        position: relative;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        padding: 30px 0;
        border-top: 1px solid $black;

        &:last-child {
            border-bottom: 1px solid $black ;
        }
    }

    &-bg {
        width: 90px;
        height: 90px;
        background-color: $beige;
        border-radius: 50%;
        align-content: center;
    }

    &__img {
        justify-self: center;
        width: 50px;
        height: 50px;
    }

    &__descr {
        margin-left: 30px;
        gap: 5px;

        &-name {
            color: $black;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
        }

        &-size {
            color: $black;
            font-size: 21px;
            font-weight: 400;
            line-height: 25px;
        }
    }

    .card__buttons-counter {
        margin-left: 140px;
    }

    &__price {
        margin-left: 172px;
        color: $black;
        font-size: 21px;
        font-weight: 400;
        line-height: 25px;
    }

    &-delete {

        position: relative;
        transform: rotate(45deg);

        span {
            background-color: $black;
            display: block;
            width: 20px;
            height: 0;
            border: 2px solid var(--black, rgba(44, 44, 44, 1));
            border-radius: 50px;
            cursor: pointer;

            &:first-child {
                position: absolute;
            }

            &:last-child {
                transform: rotate(90deg);
            }
        }
    }

    .cardwrapper {
        position: absolute;
        right: 0px;
    }
}